html{
	body.post-type-archive-playlist{
		section.top-page{
			height:75vh;
			max-height: 500px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(./img/fond.jpg);
			@media(max-width:700px){
				max-height:260px;
			}
			div.contain-top{
				background: -moz-linear-gradient(top, rgba(15,16,16,0) 0%, rgba(15,16,16,0.99) 99%, rgba(15,16,16,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(15,16,16,0) 0%,rgba(15,16,16,0.99) 99%,rgba(15,16,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(15,16,16,0) 0%,rgba(15,16,16,0.99) 99%,rgba(15,16,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f1010', endColorstr='#0f1010',GradientType=0 ); /* IE6-9 */
				display:block;
				width:100%;
				height:100%;
				div.container{
					position: relative;
					height:100%;
				}
				h1{
					color:#fff;
					text-align: center;
					font-size:90px;
					text-transform: uppercase;
					width:100%;
					bottom:32%;
					position: absolute;
					@media(max-width:700px){
						font-size:40px;
						bottom:50%;
					}
				}
				p{
					bottom:20%;
					position: absolute;
					font-size: 20px;
					color:#fff;
					text-align: center;
					width:100%;
					@media(max-width:700px){
						font-size:18px;
						padding:0px 20px;
						bottom:10%;
					}
				}
			}
		}
		section.playlists{
			padding:80px 60px;
			@media(max-width:700px){
				padding:40px 20px;
				padding-bottom:100px;
			}
			div.contain-filtre{
				margin:40px 0px;
				padding:40px 0px;
				text-align: center;
				margin-top: 0px;
				&.fixe{
					position: fixed;
					width:100%;
					max-width:1180px;
					top:0px;
					z-index:2000;
					padding:20px 0px;
				}
				&:hover{
					box-shadow:1px 1px 3px #000;
				}
				a{
					color:#fff;
					padding:0px 20px;
					font-size:20px;
					text-transform: uppercase;
					border-top:1px solid transparent;
					border-bottom:1px solid transparent;
					border-right:1px solid #595556;
					@include transition(0.5s);
					margin-bottom:30px;
					&:first-child{
						border-left:1px solid transparent;
						&:hover{
							border-top:1px solid #fff;
							border-bottom:1px solid #fff;
							border-left:1px solid #fff;
						}
					}
					&.actif{
						border-bottom:1px solid #fff;
					}
					&:last-child{
						border-right:1px solid transparent;
						&:hover{
							border-top:1px solid #fff;
							border-bottom:1px solid #fff;
							border-right:1px solid #fff;
						}
					}
					&:hover{
						border-top:1px solid #fff;
						border-bottom:1px solid #fff;
					}
				}
			}
			div.contain-playlists{
				@include display-flex();
				@include flex-grow(3);
				@include flex-wrap(wrap);
				@media(max-width:700px){
					@include flex-grow(1);
					@include flex-direction(column);
				}
				a.bloc{
					width:calc(25% - 20px);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					height:300px;
					margin:10px;
					@include transition(0.5s);
					@include border-radius(7px);
					@media(max-width:700px){
						width:100%;
						margin:0px;
						margin-bottom:20px;
						height:200px;
					}
					&:hover{

						div.contain-info{
							background-color: rgba(#000, 0.3);
							box-shadow: 0px 44px 47px -29px rgba(0,0,0,1);
							@include border-radius(7px);
							h3{
								top:42%;
								font-weight:lighter;
							}
							p{
								top:52%;
							}
						}
					}
					div.contain-info{
						width:100%;
						height:100%;
						background-repeat: no-repeat;
						background-image: url(./img/play-button.png);
						background-size: 70px;
						background-color: rgba(#000, 0.5);
						background-image: url(./img/play-button.png);
						background-repeat: no-repeat;
						background-position: 20px 93%;
						background-size: 80px;
						@include border-radius(7px);
						@include transition(0.5s);
						position: relative;
						h3{
							color:#fff;
							font-weight: lighter;
							font-size: 28px;
							text-align: center;
							position: absolute;
							text-transform: uppercase;
							left:0px;
							width:100%;
							top:45%;
							@include transform(translateY(-50%));
							opacity:1;
							@include transition(0.5s);
						}
						p{
							color:#fff;
							font-weight: lighter;
							font-size: 23px;
							text-align: center;
							position: absolute;
							top:55%;
							width:100%;
							@include transition(0.5s);
						}
					}
				}
			}
		}
		div.wp-pagenavi{
			display:none;
		}
	}
}
