html{
	body.home{
		section.top-page{
			h1{
				font-size: 24px;
				font-family: $fontroboto;
				font-variant: small-caps;
				font-weight: 400;
				letter-spacing: 8px;
				position: absolute;
				top:15px;
				left:50%;
				@include transform(translateX(-50%));
				z-index:2000;
				color:#fff;
				padding:5px 0px;
				padding-left:40px;
			}
		}
		.loader{
			background-color: $black;
			cursor: wait;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 3000000;

		}

		.loader h1{
			background: none;
			border: none;
			color: #fff;
			font-size: 40px;
			font-family: $fontroboto;
			font-variant: small-caps;
			font-weight: 400;
			height: 100vh;
			line-height: 100vh;
			letter-spacing: 15px;
			animation: example 7s;
			animation-delay:1.5s;
			margin: 0 0 10px;
			padding: 0;
			text-align: center;
			opacity: 0;
			@media(max-width:700px){
				font-size:25px;
			}
		}
		.loader h1 {animation-timing-function: ease-out;}

		@keyframes example {
				0%   {opacity: 0;}
		    20%  {opacity: 1;}
		    40%  {opacity: 0;}
				60%  {opacity: 1;}
				80%  {opacity: 0;}
		    100% {opacity: 1;}
		}
		div.slider{
			width:100%;
			height:100vh;
			position: relative;
			max-height:1000px;
			@include transition(0.5s);
			&:hover{
				button{
					&.slick-next{
						right:60px;
					}
					&.slick-prev{
						left:0px;
					}
				}
			}
			button{
				position: absolute;
				z-index:300000;
				border:none;
				background-color: #0D0C0C;
				bottom:80px;
				color:#fff;
				width:30px;
				height:120px;
				@include transition(0.5s);
				cursor:pointer;
				&.slick-next{
					background-position: center;
					background-size: 12px;
					background-repeat: no-repeat;
					background-image: url(./img/arrow-right.png);
					text-indent: -9999px;
					top:46%;
					right:0px;
				}
				&.slick-prev{
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					background-image: url(./img/arrow-left.png);
					text-indent: -9999px;
					background-size: 12px;
					top:46%;
					left:-60px;
				}
			}

			ul.slick-dots{
				position: absolute;
				top:90%;
				right:150px;
				margin-left:0px;
				padding-left:0px;
				padding-top:3px;
				display:none!important;
				@media(max-width:700px){
					@include display-flex();
					padding-left:0px;
					margin-left:0px;
					right:50%;
				}
				li{
					width:15px;
					height:15px;
					border:1px solid #fff;
					margin-bottom:10px;
					@include border-radius(50%);
					list-style-type: none;
					position: relative;
					padding:0px;
					margin-left:12px;
					button{
						border:none;
						background-color: #fff;
						width:3px;
						height:3px;
						position: relative;
						bottom:6px;
						left:5px;
						padding:0px;
						text-indent: -99999px;
						@include border-radius(50%);
						opacity:0;
						@include transition(0.5s);
					}
					&.slick-active{
						background-color: #fff;
						@include transition(0.5s);
						button{
							bottom:4px;
							left:7px;
						}
					}
				}
			}
			div.slick-list{
				height:100vh;
				max-height:1000px;
				div.slick-track{
					height:100vh;
					div.contain-slide{
						max-height:1000px;
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						div.contain-txt-slide{
							width:auto;
							height:auto;
							position: absolute;
							width:100%;
							height:100%;
							background: rgba(248,80,50,0);
							background: -moz-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(15,16,16,0.63) 63%, rgba(15,16,16,1) 100%);
							background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,0)), color-stop(63%, rgba(15,16,16,0.63)), color-stop(100%, rgba(15,16,16,1)));
							background: -webkit-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(15,16,16,0.63) 63%, rgba(15,16,16,1) 100%);
							background: -o-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(15,16,16,0.63) 63%, rgba(15,16,16,1) 100%);
							background: -ms-linear-gradient(top, rgba(248,80,50,0) 0%, rgba(15,16,16,0.63) 63%, rgba(15,16,16,1) 100%);
							background: linear-gradient(to bottom, rgba(248,80,50,0) 0%, rgba(15,16,16,0.63) 63%, rgba(15,16,16,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#0f1010', GradientType=0 );
							color:#fff;

							font-size:55px;
							text-transform: uppercase;
							@include display-flex();
							@include flex-direction(column);
							div.contain{
								width:100%;
								height:100%;
								max-width:1180px;
								margin:0 auto;
								position: relative;
								@media(max-width:700px){
									padding:0px 30px;
									position: relative;
								}
							}
							div.contain-title{
								bottom:14%;
								width:43%;
								position: absolute;
								padding-right: 0px;
								@media(max-width:700px){
									width:100%;
								}
								div.line{
									@include display-flex();
									margin-bottom:30px;
									p{
										color:#fff;
										width:auto;
										display:inline-block;
										font-size:15px;
										text-transform: uppercase;
										&.time{
											padding-left:30px;
											background-position: left;
											background-size: 18px;
											background-repeat: no-repeat;
											background-image: url(./img/time.png);

										}
										&.category{
											padding-left:36px;
											background-position: left;
											background-size: 24px;
											margin-left:30px;
											background-repeat: no-repeat;
											background-image: url(./img/eye.png);
										}
									}
								}
								h2{
									font-size:30px;
									text-transform: uppercase;
									font-weight: 400;
									color:#fff;
									font-family: $font;
									@media(max-width:700px){
										font-size:25px;
									}
								}
								a.learn{
									text-transform:none;
									font-size:16px;
									background-color: transparent;
									padding:7px 20px;
									border: 2px solid #fff;
									color: #fff;
									@include border-radius(7px);
									@include transition(0.5s);
									&:hover{
										background-color: #fff;
										color:$black;
									}
								}
							}
							p{
								font-size:16px;
								color:#fff;
								text-transform: none;
								@media(max-width:700px){
									display:none;
								}
							}
							p.number-slide{
								font-size:14px;
								position: absolute;
								left:-40px;
								font-family:$fontserif;
								opacity:0.08;
								font-size:270px;
							}

						}
						&:nth-child(2n+2){
							div.contain-txt-slide{
								/*
								background: rgba(11,135,147,1);
								background: -moz-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
								background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(11,135,147,1)), color-stop(0%, rgba(11,135,147,1)), color-stop(76%, rgba(54,0,51,0.55)), color-stop(100%, rgba(54,0,51,0.41)));
								background: -webkit-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
								background: -o-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
								background: -ms-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
								background: linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
								*/
							}
						}
					}
				}
			}
		}
		section.playlist{
			background-color: $black;
			padding-top:210px;
			overflow:hidden;
			div.container{
				@include display-flex();
				padding-bottom:40px;
				div.title-playlist{
					@include display-flex();
					width:100%;
					padding-bottom:40px;
					position: relative;
					h2{
						text-transform: uppercase;
						margin-bottom: 0px;
						color:#fff;
						display:inline-block;
						width:auto;
						z-index:3;
						font-size:30px;
						font-weight:normal;
						padding-left:80px;
					}
					hr{
						width:100px;
						color:$blue;
						background-color: $blue;
						border:none;
						height:2px;
						float:left;
						margin-left:-35px;
						@include transform(rotate(0deg));
						margin-top:23px;
					}
				}
				div.contain-title{
					width:40px;
					padding-top:0px;
					p.title-vert{
						width:80px;
						color:#fff;
						font-weight: lighter;
						writing-mode: sideways-lr;
						text-orientation: sideways-right;
						padding-left: 12px;
						margin-bottom:30px;
					}
					hr{
						width:40px;
						@include transform(rotate(90deg));
						color:#338e97;
						background-color: #338e97;
						height:1px;
						border:none;
					}
				}

				div.contain-titre{
					@include display-flex();
					width:100%;
					div.bloc{
						width:calc(25% - 20px);
						position: relative;
						margin:10px;
						p{
							position: absolute;
							right:40px;
							top:-133px;
							text-transform: uppercase;
							font-family: $font;
							font-size:16px;

						}

					}
				}
				div.contain-playlist{
					@include display-flex();
					width:100%;

					a.bloc{
						width:calc(25% - 20px);
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						height:400px;
						margin:10px;
						@include transition(0.5s);
						@include border-radius(7px);

						&:hover{

							div.contain-info{
								background-color: rgba(#000, 0.1);
								box-shadow: 0px 44px 47px -29px rgba(0,0,0,1);
								@include border-radius(7px);
								h3{
									top:35%;
									font-weight:lighter;
								}
								div.explain{
									opacity:1;
									top:40%;
								}
							}
						}
						div.contain-info{
							width:100%;
							height:100%;
							background-repeat: no-repeat;
							background-image: url(./img/play-button.png);
							background-size: 70px;
							background-color: rgba(#000, 0.3);
							background-image: url(./img/play-button.png);
							background-repeat: no-repeat;
							background-position: 20px 93%;
							background-size: 80px;
							@include border-radius(7px);
							@include transition(0.5s);
							position: relative;
							h3{
								color:#fff;
								font-weight: lighter;
								font-size: 28px;
								text-align: left;
								position: absolute;
								text-transform: uppercase;
								left:40px;
								top:45%;
								@include transform(translateY(-50%));
								opacity:1;
								@include transition(0.5s);
							}
							div.explain{
								color:#fff;
								position: absolute;
								top:50%;
								left:40px;
								width:60%;
								opacity:0;
								@include transition(0.5s);
								span.time{
									font-size:14px;
									margin-top:20px;
									display:block;
								}
								span.artiste{
									font-size:14px;
									display:block;
								}
							}
						}
					}
				}
			}
		}
		section.titre-top{
			/*background: rgba(11,135,147,1);
			background: -moz-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
			background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(11,135,147,1)), color-stop(0%, rgba(11,135,147,1)), color-stop(76%, rgba(54,0,51,0.55)), color-stop(100%, rgba(54,0,51,0.41)));
			background: -webkit-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
			background: -o-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
			background: -ms-linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);
			background: linear-gradient(45deg, rgba(11,135,147,1) 0%, rgba(11,135,147,1) 0%, rgba(54,0,51,0.55) 76%, rgba(54,0,51,0.41) 100%);*/

			div.container{
				@include display-flex();
				border-top:1px solid #595556;
				border-bottom:1px solid #595556;
				padding-top:100px;
				padding-bottom:90px;
				div.contain-title{
					width:40px;
					p.title-vert{
						font-weight: lighter;
						margin-bottom: 30px;
						color:#fff;
						padding-left:12px;
						writing-mode: sideways-lr;
						text-orientation: sideways-right;
					}
					hr{
						width:40px;
						@include transform(rotate(90deg));
						color:#338e97;
						background-color: #338e97;
						height:1px;
						border:none;
					}
				}
				div.titre-semaine{
					width:50%;
					@include display-flex();
					@include flex-direction(column);
					border-right:1px solid #595556;
					p.description{
						color:#fff;
						padding-right: 60px;
						padding-bottom:40px;
						font-size:30px;
						font-weight:bold;
						text-transform: uppercase;
						font-family: $font;
					}
					div.contain-blocs{
						@include display-flex();
						@include flex-wrap(wrap);
						@include flex-grow(2);
						@include justify-content(space-between);
						width:100%;
						padding-left:0px;
						padding-right:40px;

						div.bloc{
							width:calc(100%);
							position: relative;
							@include transition(0.5s);
							overflow:hidden;
							&:hover{
								div.contain-link{
									left:0px;
								}
							}
							div.contain-link{
								background-color: #fff;
								position: absolute;
								height:72px;
								width:75%;
								left:-75%;
								top:0px;
								z-index:20000;
								@include border-left-radius(7px);
								text-align: center;
								@include transition(0.5s);
								@include display-flex();
								@include justify-content(center);
								p{
									height:100%;
									padding-top:23px;
									margin-bottom:0px;
									margin-right:10px;
									font-weight:bold;
								}
								a{
									width:40px;
									height:72px;
									text-indent: -99999px;
									background-repeat: no-repeat;
									background-position: center;
									margin:0px 8px;
									&.spotify{
										background-image: url(./img/spotify.png);
										background-size: 24px;
									}
									&.soundcloud{
										background-image: url(./img/soundcloud.png);
										background-size: 34px;
									}
								}
							}
							.jSound{
								background-color: transparent;
							}
							.jsound__background{
								background-image: none !important;
							}
							.jsound__title{
								padding: 2px 20px 10px;
								width:80%;
								overflow:hidden;
								height:38px;
								a{
									font-size:18px;
									font-family: $font;
								}
							}
							.jsound__artist{
								padding:10px 20px 0;
							}
							.jsound--mini{
								background-color: $black;
								@include border-radius(7px);
							}
							.jsound__buttons{
								background-image: url(./img/play-button-nu.png);
								background-repeat: no-repeat;
								background-size: 100%;
								top:0px;
								margin-top:0px;
								.jsound__play{
									border:none;
									height:76px;
									width:76px;
									&:before, &:after{
										top:28px;
										left:31px;
									}
								}
								.jsound--pause{
									&:after{
										top:28px;
										left:31px;
									}
									&:before{
										top:28px;
										left:41px;
									}
								}
							}
							.jsound__artist{
								a{
									background-image: none;
									padding-left: 0px;
								}
							}
						}
					}
				}
				div.titre-top{
					width:50%;
					padding-left:40px;
					@include display-flex();
					p.title-vert{
						font-weight: lighter;
						margin-bottom: 30px;
						color:#fff;
						writing-mode: sideways-lr;
						text-orientation: sideways-right;
					}
					div.contain-blocs{
						@include display-flex();
						@include flex-wrap(wrap);
						@include flex-grow(2);
						@include justify-content(space-between);
						width:100%;
						padding-left:0px;
						padding-right:40px;
						div.bloc{
							position: relative;
							@include transition(0.5s);
							width:100%;
							overflow:hidden;
							&:hover{
								div.contain-link{
									left:0px;
								}
							}
							div.contain-link{
								background-color: #fff;
								position: absolute;
								height:72px;
								width:70%;
								left:-70%;
								top:0px;
								z-index:20000;
								@include border-left-radius(7px);
								text-align: center;
								@include transition(0.5s);
								@include display-flex();
								@include justify-content(center);
								padding-left:7px;
								p{
									height:100%;
									padding-top:23px;
									margin-bottom:0px;
									margin-right:5px;
									font-weight:bold;
								}
								a{
									width:35px;
									height:72px;
									text-indent: -99999px;
									background-repeat: no-repeat;
									background-position: center;
									margin:0px 4px;
									&.spotify{
										background-image: url(./img/spotify.png);
										background-size: 20px;
									}
									&.soundcloud{
										background-image: url(./img/soundcloud.png);
										background-size: 30px;
									}
								}
							}
							.jSound{
								background-color: transparent;
							}
							.jsound__background{
								background-image: none !important;
							}
							.jsound__title{
								padding: 2px 20px 10px;
								width:80%;
								overflow:hidden;
								height:38px;
								a{
									font-size:18px;
									font-family: $font;
								}
							}
							.jsound__artist{
								padding:10px 20px 0;
							}
							.jsound--mini{
								background-color: $black;
								@include border-radius(7px);

							}
							.jsound__buttons{
								background-image: url(./img/play-button-nu.png);
								background-repeat: no-repeat;
								background-size: 100%;
								top:0px;
								margin-top:0px;
								.jsound__play{
									border:none;
									height:76px;
									width:76px;
									&:before, &:after{
										top:28px;
										left:31px;
									}
								}
								.jsound--pause{
									&:after{
										top:28px;
										left:31px;
									}
									&:before{
										top:28px;
										left:41px;
									}
								}
							}
							.jsound__artist{
								a{
									background-image: none;
									padding-left: 0px;
								}
							}
						}
					}
				}
			}
		}
		section.video{
			padding-top:60px;
			div.container{
				@include display-flex();
				@include justify-content(space-between);
				border-bottom:1px solid $grey;
				padding-bottom:100px;
				div.contain-title{
					padding-top:180px;
				}
				div.contain-video{
					width:80%;
					height:500px;
					background-color: #323131;
					margin:0 auto;
					margin-top:50px;
					background-image:url(./img/fond-video.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size:cover;
					@include transition(0.5s);
					@include border-radius(7px);
					&:hover{
						@include transition(0.5s);
						div.contain-info{
							box-shadow: 0px 44px 47px -29px rgba(0,0,0,0.75);
						}
					}
					div.contain-info{
						background: rgba(246,41,12,1);
						background: -moz-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(15,16,16,1) 0%, rgba(15,16,16,0) 100%);
						background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(15,16,16,1)), color-stop(100%, rgba(15,16,16,0)));
						background: -webkit-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(15,16,16,1) 0%, rgba(15,16,16,0) 100%);
						background: -o-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(15,16,16,1) 0%, rgba(15,16,16,0) 100%);
						background: -ms-linear-gradient(left, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(15,16,16,1) 0%, rgba(15,16,16,0) 100%);
						background: linear-gradient(to right, rgba(246,41,12,1) 0%, rgba(241,111,92,1) 0%, rgba(15,16,16,1) 0%, rgba(15,16,16,0) 100%);
						width:100%;
						height:100%;
						position: relative;
						@include transition(0.5s);
						div.contain-txt{
							background-position: 70% 50%;
							background-repeat: no-repeat;
							background-size: 130px;
							background-image: url(./img/play-button.png);
							width:100%;
							height:100%;
							position: relative;
							padding:120px 50px;
						}
						p{
							color:#fff;
							margin-top:50px;
							width:50%;
						}
						a{
							color:#fff;
							font-size: 18px;
							padding:7px 20px;
							position: absolute;
							bottom:50px;
							right:50px;
							background-color: transparent;
							border:2px solid #fff;
							color:#fff;
							@include border-radius(7px);
							border:2px solid #fff;
							&:hover{
								background-color: #fff;
								color:$black;
							}
						}
						div.contain-title{
							@include display-flex();
							width:100%;
							padding:0px;
							position: absolute;
							top:50px;
							left:-60px;
							h3{
								text-transform: uppercase;
								margin-bottom: 0px;
								color:#fff;
								display:inline-block;
								width:auto;
								font-size:70px;
								z-index:3;
							}
							hr{
								width:170px;
								color:$blue;
								background-color: $blue;
								border:none;
								height:2px;
								float:left;
								margin-left:-60px;
								@include transform(rotate(0deg));
								margin-top:55px;
							}
						}
					}
				}
			}
		}
		section.artiste{
			background-color: $black;
			padding:100px 0px;
			div.other{
				text-align: center;
				padding-top:50px;
				@include justify-content(center);

			}
			div.title-artistes{
				@include display-flex();
				width:100%;
				padding-bottom:60px;
				position: relative;
				h2{
					text-transform: uppercase;
					margin-bottom: 0px;
					color:#fff;
					display:inline-block;
					width:auto;
					z-index:3;
					font-size:30px;
					font-weight:normal;
					padding-left:80px;
				}
				hr{
					width:100px;
					color:$blue;
					background-color: $blue;
					border:none;
					height:2px;
					float:left;
					margin-left:-35px;
					@include transform(rotate(0deg));
					margin-top:23px;
				}
			}
			div.container{
				color:#fff;
				@include display-flex();
				a.other-artistes{
					text-align: center;
					color:#fff;
					font-size:18px;
					font-weight:lighter;
					background-color: transparent;
					border:2px solid #fff;
					padding:7px 20px;
					@include border-radius(7px);
					margin-left:80px;
					@include transition(0.5s);
					&:hover{
						background-color: #fff;
						color:$black;
					}
				}
				div.contain-title{
					width:40px;
					p.title-vert{
						font-weight: lighter;
						margin-bottom: 30px;
						color:#fff;
						padding-left:12px;
						writing-mode: sideways-lr;
						text-orientation: sideways-right;
					}
					hr{
						width:40px;
						@include transform(rotate(90deg));
						color:#338e97;
						background-color: #338e97;
						height:1px;
						border:none;
					}
				}
				div.artistes{
					@include display-flex();
					@include flex-grow(4);
					@include flex-wrap(wrap);
					div.bloc{
						width:calc(100% / 4);
						text-align: center;
						border-right:1px solid #595556;
						border-bottom:1px solid #595556;
						height:350px;
						display:block;
						@include transition(0.5s);
						color:#fff;
						position: relative;
						&:nth-child(n+5){
							border-bottom:0px;
						}
						&:hover{
							@include transition(0.5s);
							div.contain-info{
								height:350px;
								@include transform(scale(1.1));
								background-color: #030303;
								box-shadow: 0px 44px 47px -29px rgba(0,0,0,0.75);
								z-index:200;
								@include transition(0.5s);
								@include border-radius(7px);
							}
						}
						div.contain-info{
							padding:30px;
							@include transition(0.5s);
							height:350px;
						}
						div.contain-img{
							width:120px;
							height:120px;
							margin:0 auto;
							@include border-radius(50%);
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							margin-bottom:15px;
						}
						h3{
							text-transform: uppercase;
							font-weight: lighter;
							margin:10px 0px;
							font-size:22px;
						}
						a{
							color:#fff;
						}
						p{
							font-size:16px;
						}
						div.social{
							@include display-flex();
							@include justify-content(center);
							position: absolute;
							bottom:30px;
							width:100%;
							left:0px;
							a{
								text-indent: -99999px;
								background-position: center;
								background-repeat: no-repeat;
								&.fb{
									background-image: url(./img/facebook-white.png);
									background-size: 10px;
									width:35px;
									height:40px;
								}
								&.spotify{
									background-image: url(./img/spotify-white.png);
									background-size: 20px;
									width:40px;
									height:40px;
								}
								&.instagram{
									background-image: url(./img/instagram-white.png);
									background-size: 20px;
									width:40px;
									height:40px;
								}
							}
						}
						&:nth-child(4),&:nth-child(8){
							border-right:none;
						}
					}
				}
			}
		}
	}
}
