@import "compass/css3";

/*------------------------------------*\
	VARIABLES
\*------------------------------------*/

$bg: #fff;
$color: red;
$text-color: #454549;
$black: #0f1010;
$blue:#338e97;
$grey:#595556;
$pink:#932D6F;

$font: 'Oswald', sans-serif;
$fontserif : 'Roboto Mono', monospace;
$fontroboto: 'Abel', sans-serif;







$size1: calc(1280px - 100px);
$size2: 1140px;
$size3: 1024px;
$size4: 768px;
$size5: 480px;
$size6: 320px;

$goutiere: 36px;

$bar-width: 27px;
$bar-height: 2px;
$bar-spacing: 6px;
