html{
	body.blog, body.category{
		section.top-page{
			height:75vh;
			max-height: 500px;
			background-position: bottom;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(./img/fond-archives.jpg);
			@media(max-height:$size5){
				max-height:260px;
			}
			div.contain-top{
				background: -moz-linear-gradient(top, rgba(15,16,16,0) 0%, rgba(15,16,16,0.99) 99%, rgba(15,16,16,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(15,16,16,0) 0%,rgba(15,16,16,0.99) 99%,rgba(15,16,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(15,16,16,0) 0%,rgba(15,16,16,0.99) 99%,rgba(15,16,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f1010', endColorstr='#0f1010',GradientType=0 ); /* IE6-9 */
				display:block;
				width:100%;
				height:100%;
				div.container{
					position: relative;
					height:100%;
				}
				h1{
					color:#fff;
					text-align: center;
					font-size:100px;
					text-transform: uppercase;
					width:100%;
					bottom:32%;
					position: absolute;
					@media(max-width:700px){
						font-size:40px;
						bottom:50%;
					}
				}
				p{
					bottom:20%;
					position: absolute;
					font-size: 20px;
					color:#fff;
					text-align: center;
					width:100%;
					@media(max-width:700px){
						font-size:18px;
						padding:0px 20px;
						bottom:10%;
					}
				}
			}
		}
		section.articles{
			padding:80px 60px;
			@media(max-width:700px){
				padding:80px 20px;
			}
			div.container{
				position: relative;
			}
			div.contain-filtre{
				margin:40px 0px;
				padding:15px 0px;
				text-align: center;

				@include transition(0.5s);
				margin-top: 0px;
				&.fixe{
					position: fixed;
					width:100%;
					max-width:1180px;
					top:0px;
					z-index:2000;
					background-color: #fff;
					@media(max-width:700px){
						position: relative;
					}
					a{
						color:$black;
						padding:0px 20px;
						font-size:20px;
						text-transform: uppercase;
						border-top:1px solid transparent;
						border-bottom:1px solid transparent;
						border-right:1px solid #595556;
						@include transition(0.5s);
						&:first-child{
							border-left:1px solid transparent;
							&:hover{
								border-top:1px solid $black;
								border-bottom:1px solid $black;
								border-left:1px solid $black;
							}
						}
						&.actif{
							border-bottom:1px solid $black;
						}
						&:last-child{
							border-right:1px solid transparent;
							&:hover{
								border-top:1px solid $black;
								border-bottom:1px solid $black;
								border-right:1px solid $black;
							}
						}
						&:hover{
							border-top:1px solid $black;
							border-bottom:1px solid $black;
						}
					}
				}
				a{
					color:#fff;
					padding:0px 20px;
					font-size:20px;
					text-transform: uppercase;
					border-top:1px solid transparent;
					border-bottom:1px solid transparent;
					border-right:1px solid #595556;
					@include transition(0.5s);
					&:first-child{
						border-left:1px solid transparent;
						&:hover{
							border-top:1px solid #fff;
							border-bottom:1px solid #fff;
							border-left:1px solid #fff;
						}
					}
					&.actif{
						border-bottom:1px solid #fff;
					}
					&:last-child{
						border-right:1px solid transparent;
						&:hover{
							border-top:1px solid #fff;
							border-bottom:1px solid #fff;
							border-right:1px solid #fff;
						}
					}
					&:hover{
						border-top:1px solid #fff;
						border-bottom:1px solid #fff;
					}
				}
			}
			div.contain-articles{
				@include display-flex();
				@include flex-grow(3);
				@include flex-wrap(wrap);
				@media(max-width:700px){
					@include flex-grow(1);
					@include flex-direction(column);
				}
				a.bloc{
					width:calc(100% / 3 - 20px);
					text-align: center;
					background-color: #0D0C0C;
					display:block;
					@include transition(0.5s);
					color:#fff;
					position: relative;
					margin-bottom:30px;
					@include display-flex();
					@include border-radius(7px);
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					@media(max-width:700px){
						width:100%;
					}
					&:hover{
						@include transition(0.5s);
						@include transform(scale(1.04));
						box-shadow: 0px 44px 47px -29px rgba(0,0,0,0.75);
						z-index:200;
						div.contain-info{
							@include display-flex();
							background-color: rgba($black,0.7);
							@include transition(0.5s);
							p{
								opacity:1;
							}
						}
					}
					div.contain-info{
						height:100%;
						@include transition(0.5s);
						text-align: left;
						width:100%;
						@include display-flex();
						@include flex-direction(column);
						padding:30px;
						background-color: rgba($black,0.5);

						p{
							font-size:17px;
							opacity: 0;
							@include transition(0.5s);
						}
						div.line{
							@include display-flex();
							margin-bottom:0px;
							p{
								color:#fff;
								width:auto;
								display:inline-block;
								font-size:15px;
								text-transform: uppercase;
								opacity:1;
								margin-top:0px;
								&.time{
									padding-left:30px;
									background-position: left;
									background-size: 18px;
									background-repeat: no-repeat;
									background-image: url(./img/time.png);

								}
								&.category{
									padding-left:36px;
									background-position: left;
									background-size: 24px;
									margin-left:30px;
									background-repeat: no-repeat;
									background-image: url(./img/eye.png);
								}
							}
						}
					}
					div.contain-img{
						width:370px;
						margin:0 auto;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						padding-bottom:0px;
						@include border-top-left-radius(7px);
						@include border-bottom-left-radius(7px);
					}
					h3{
						text-transform: uppercase;
						font-weight: lighter;
						margin:10px 0px;
						padding-bottom:20px;
						margin-bottom:0px;
						font-size:22px;
					}
					a{
						color:#fff;
					}
					p{
						font-size:16px;
					}

					&:nth-child(4n),&:nth-child(8n){
						border-right:none;
					}
				}
			}
		}
		div.wp-pagenavi{
			display:none;
		}
	}
}
