html{
	body.single-artiste{
		section.top-page{
			height:75vh;
			max-height: 600px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			div.contain-top{
				background: -moz-linear-gradient(top, rgba(15,16,16,0) 0%, rgba(15,16,16,0.99) 99%, rgba(15,16,16,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(15,16,16,0) 0%,rgba(15,16,16,0.99) 99%,rgba(15,16,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(15,16,16,0) 0%,rgba(15,16,16,0.99) 99%,rgba(15,16,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000f1010', endColorstr='#0f1010',GradientType=0 ); /* IE6-9 */
				display:block;
				width:100%;
				height:100%;
				div.container{
					position: relative;
					height:100%;
				}
				h1{
					color:#fff;
					text-align: left;
					font-size:100px;
					text-transform: uppercase;
					width:80%;
					bottom:32%;
					position: absolute;
					margin-left:80px;
				}
			}
		}
		section.bio{
			background-color: $black;
			div.container{
				position: relative;
				padding-bottom:80px;
				div.bloc-left{
					background-color: #fff;
					box-shadow:4px 4px 18px #000;
					position: absolute;
					left:80px;
					top:-80px;
					width:370px;
					height:400px;
					padding:30px;
					div.contain-title{
						@include display-flex();
						width:100%;
						padding:0px;

						h2{
							text-transform: uppercase;
							margin-bottom: 0px;
							color:$black;
							display:inline-block;
							width:50%;
							z-index:3;
						}
						hr{
							width:50%;
							color:$blue;
							background-color: $blue;
							border:none;
							height:2px;
							float:left;
							margin-left:-65px;
							@include transform(rotate(0deg));
							margin-top:16px;
						}
					}
				}
				div.biographie{
					color:#fff;
					width:100%;
					overflow:hidden;

					div.contain-txt{
						width:50%;
						float:right;
						padding-left:40px;
						padding-top:50px;
						padding-bottom:50px;
						border-left:1px solid #595556;
					}
				}
				div.titre{
					width:100%;
					margin-top:100px;
					padding-top:100px;
					border-top:1px solid #595556;
					border-bottom:1px solid #595556;
					@include display-flex();
					padding-bottom:100px;
					div.contain{
						width:50%;
						@include display-flex();
						&:nth-child(1){
							padding-right:50px;
						}
						&:nth-child(2){
							padding-left:40px;
							border-left:1px solid #595556;
						}
					}
					div.contain-titre{
						width:100%;
						.jSound{
							background-color: transparent;
						}
						.jsound__background{
							background-image: none !important;
						}
						.jsound__title{
							padding: 2px 20px 10px;
							width:80%;
							overflow:hidden;
							height:38px;
							a{
								font-size:18px;
								font-family: $font;
							}
						}
						.jsound__artist{
							padding:10px 20px 0;
						}
						.jsound--mini{
							background-color: $black;
							@include border-radius(7px);
						}
						.jsound__buttons{
							background-image: url(./img/play-button-nu.png);
							background-repeat: no-repeat;
							background-size: 100%;
							top:0px;
							margin-top:0px;
							.jsound__play{
								border:none;
								height:76px;
								width:76px;
								&:before, &:after{
									top:28px;
									left:31px;
								}
							}
							.jsound--pause{
								&:after{
									top:28px;
									left:31px;
								}
								&:before{
									top:28px;
									left:41px;
								}
							}
						}
						.jsound__artist{
							a{
								background-image: none;
								padding-left: 0px;
							}
						}
					}
					div.contain-album{
						@include display-flex();
						@include flex-wrap(wrap);
						@include flex-grow(2);
						@include justify-content(space-between);
						width:100%;
						div.bloc{
							width:calc(50% - 20px);
							height:200px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							position: relative;
							@include transition(0.5s);
							@include border-radius(7px);

							p{
								text-align: center;
								color:$black;
								position: absolute;
								top:calc(50% - 20px);
								display:block;
								text-transform: uppercase;
								padding:0px 30px;
								font-weight: bold;
								font-size: 20px;
								width:100%;
							}
						}
					}

				}
				div.videos{
					width:100%;
					position: relative;
					padding-top:100px;
					padding-bottom:100px;
					@include display-flex();
					p.titre{
						height:auto;
						text-align: center;
						color:#fff;
					}
					div.contain-video{
						width:70%;
						margin:0 auto;
						position: relative;
						button{
							position: absolute;
							z-index:300;
							border:none;
							background-color: transparent;
							bottom:-50px;
							color:#fff;
							@include transition(0.5s);
							cursor:pointer;
							&.slick-prev{
								left:45%;
							}
							&.slick-next{
								right:45%;
							}
						}
						div.slick-list{
							height:350px;
							position: relative;
							div.slick-track{
								height:100%;
								position: relative;
								div.video{
									width:100%;
									height:100%;
									position: relative;
									overflow:hidden;
									span.number-slide{
										color:#fff;
										left:50%;
									}
									p{
										height:100%;
									}

									iframe{
										width:100%;
										height:100%;
										position: relative;
									}
									div.contain-txt{
										position: absolute;
										top:40px;
										height: calc(100% - 80px);
										width:40px;
										background-color: #0f1010;
										z-index:30000;
										width:40%;
										left:-36%;
										padding-left: 20px;
										padding-top:60px;
										@include transition(0.5s);
										p.titre{
											color:#fff;
											font-size:22px;
											text-align: left;
											text-transform: uppercase;
											width:calc(100% - 40px);
										}
										&.show{
											left:0px;
										}
										span.open{
											position: absolute;
											right:0px;
											height:100%;
											top:0px;
											width:40px;
											background-repeat: no-repeat;
											background-image: url(./img/arrow-left.png);
											background-position: center;
											background-size: 11px;
											@include transition(0.5s);
											cursor:pointer;
											&.show{
												@include transform(rotate(180deg));
											}
										}
									}
									span.play-video{
										display: inline-block;
										position: absolute;
										background-position: center;
										background-repeat: no-repeat;
										background-image: url(./img/play-button.png);
										background-size: 133px;
										background-color: rgba(#000,0.5);
										width:100%;
										height:100%;
										top:175px;
										@include transform(translateY(-50%));
										&.hide{
											display:none;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
