html{
	body{
		background-color: #0F1010;
		overflow-x   : hidden;
		height:100vh;
		header{
			height:100vh;
			width:60px;
			background-color: #0d0c0c;
			position: fixed;
			z-index:3000000;
			@include transition(0.5s);

			@media(max-width:700px){
				height:60px;
				width:100%;
				@include display-flex();
				@include justify-content(space-between);
			}
			&.open{
				box-shadow:none;
			}
			@include transition(0.5s);
			&.hide{
				left:-45px;
				@include transition(0.5s);
			}
			div.line-social{
				@include display-flex();
				@include flex-direction(column);
				position: absolute;
				bottom:20px;
				width:100%;
				left:0px;
				padding:0px 8px;
				a{
					width:100%;
					height:50px;
					display: inline-block;
					color:#fff;
					font-family: $fontserif;
					font-size:15px;
					text-align: center;
					background-repeat: no-repeat;
					background-position: center;
					padding-top:6px;
					@include transition(0.5s);
					text-indent: -9999px;
					border-bottom: 1px solid transparent;
					&:hover{
						border-bottom: 1px solid #fff;
					}
					&:nth-child(2){
						border-top: 1px solid $grey;
						border-bottom: 1px solid $grey;
					}
					&.fb{
						background-image: url(./img/facebook-white.png);
						background-size: 8px;
						border-top: 1px solid transparent;
						border-left: 1px solid transparent;
						&:hover{
							border-top: 1px solid #fff;
							border-left: 1px solid #fff;
						}
					}
					&.instagram{
						background-image: url(./img/instagram-white.png);
						background-size: 16px;
						&:hover{
							border-top: 1px solid #fff;
						}
					}
					&.soundcloud{
						background-image: url(./img/spotify-white.png);
						background-size: 18px;
						border-top: 1px solid transparent;
						border-right: 1px solid transparent;
						&:hover{
							border-top: 1px solid #fff;
							border-right: 1px solid #fff;
						}
					}
				}
			}
			button.search{
				width:44px;
				height: 50px;
				background-position: 42% 50%;
				background-repeat: no-repeat;
				background-image: url(./img/search-white.png);
				background-size: 14px;
				cursor: pointer;
				border:none;
				background-color: #0D0C0C;
				position: absolute;
				padding-left:8px;
				top:0px;
				left:8px;
				border-bottom: 1px solid $grey;
				@media(max-width:700px){
					width:60px;
				}
			}
			.hamburger-menu {
				position: absolute;
			  top: 0;
			  left: 6px;
			  right: 0;
			  bottom: 0;
			  margin: auto;
			  width: 40px;
				height: 30px;
				cursor: pointer;
				@include transition(0.5s);
				@media(max-width:700px){
					width:60px;
					height:60px;
					top:41px;
					left:85%;
				}
				.bar{
					width:20px;
					height:2px;
					@include transition(0.5s);
					transform: translateY($bar-spacing);
					background: rgba( #fff, 1);
					transition: all 0ms 300ms;

				  &.animate {
				    background: rgba( #2e2a2b, 0);
				  }
				}
				&:hover{
					.bar{
						width:30px;
						@include transition(0.5s);
					}
				}
			}


			.bar:after,
			.bar:before {
			  width: $bar-width;
				height: $bar-height;
			}


			.bar:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: $bar-spacing;
				background: rgba(#fff, 1);
				transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			}

			.bar:after {
				content: "";
				position: absolute;
				left: 0;
				top: $bar-spacing;
				background: rgba(#fff, 1);
				transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
			}

			.bar.animate:after {
				top: 0;
				transform: rotate(45deg);
				transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
			}

			.bar.animate:before {
				bottom: 0;
				transform: rotate(-45deg);
				transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
			}
		}
		div.contain-search{
			display:none;
			background-color: rgba(#000,1);
			width:100%;
			height:100%;
			position: fixed;
			z-index:300000000;
			span.button-close{
				width:50px;
				height:50px;
				position: absolute;
				top:80px;
				right:80px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 28px;
				background-image: url(./img/close.png);
				text-indent: -999999px;
				cursor:pointer;
				z-index:30000;
			}
			div.container{
				position: relative;
				width:100%;
				height:100%;
			}
			form{
				position: absolute;
				top:50%;
				@include transform(translateY(-50%));
				width:100%;
				@include display-flex();
				@include justify-content(center);
				@include flex-direction(line);
				input{
					background-color: transparent;
					width:50%;
					color:#fff;
					font-size:45px;
					text-transform: uppercase;
				}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #fff;
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: #fff;
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: #fff;
				}
				:-moz-placeholder { /* Firefox 18- */
				  color: #fff;
				}
				button{
					width:68px;
					background-color: transparent;
					border:none;
					background-image: url(./img/search-white.png);
					background-repeat: no-repeat;
					background-size: 30px;
					background-position: center;
					height:68px;
					position: relative;
					cursor: pointer;
				}
			}
		}
		div.menu{
			left:-80%;
			width:0px;
			background-color: $black;
			height:100vh;
			position: absolute;
			z-index:30000;
			top:0px;
			width:75%;
			box-shadow: 1px 1px 10px #000;
			position: fixed;
			@include transition(0.7s);
			ul{
				@include display-flex();
				@include flex-direction(column);
				position: absolute;
				height:auto;
				top:calc(50% - 7px);
				margin-left:25px;
				padding-left:0px;
				@include transform(translateY(-50%));
				li{
					list-style-type: none;
					margin:7px 20px;
					a{
						color:#fff;
						text-transform: uppercase;
						font-size:24px;
						font-weight: lighter;
						opacity: 0;
						@include transition(5.7s);
					}
				}
			}
			&.activate{
				left:60px;
				width:230px;
				@include transition(0.7s);
				background-color: rgba(#0d0c0c,1);
				@media(max-width:700px){
					left:0px;
					width:85%;
				}
				nav{
					ul{
						li{
							a{
								opacity:1;
								@include transition(0.5s);
								&:hover{
									background-color: #fff;
									color:$black;
								}
							}
							&.current_page_item{
								a{
									background-color: #fff;
									color:$black;
								}

							}
						}
					}
				}
			}
		}
		div.juiz_sps_links{
			position: fixed;
			right:-50px;
			z-index:6000;
			top:50%;
			@include transition(0.5s);
			opacity:0;
			&.show{
				right:0px;
				opacity: 1;
			}
			ul{
				@include display-flex();
				@include flex-direction(column);
			}
			li{
				width:50px;
				height:50px;
				&:nth-child(1){
					a{
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(./img/fb.png) !important;
						background-size: 13px;
						@include transition(0.5s);
						border-bottom:2px solid $black !important;
						&:hover{
							background-color:#595556!important;
						}
					}
				}
				&:nth-child(2){
					a{
						background-position: center;
						background-repeat: no-repeat;
						background-image: url(./img/twitter.png) !important;
						background-size: 24px;
						@include transition(0.5s);
						&:hover{
							background-color: #595556!important;
						}
					}
				}
				a{
					border:none!important;
					@include border-radius(0px);
					background-image: none !important;
					height:50px;
					width:50px;
					box-shadow:none;
					background-color: #fff !important;
					span.juiz_sps_network_name{
						display:none;
					}
					span.juiz_sps_icon{
						display:none;
					}
				}
			}
		}
		div.page{
			width:calc(100%);
			position: relative;
			top:0px;
			left:60px;
			@include transition(0.5s);
			@media(max-width:700px){
				left:0px;
				top:60px;
			}
			&.right{
				left:140px;
				@include transition(0.5s);
				@media(max-width:700px){
					left:80px;
				}
			}
			&.large{
				left:0px;
				width:100%;
			}
		}
		.jSound{
			background-color: #0D0C0C;
		}
		.jsound__background{
			background-image: none !important;
			background-color: #0D0C0C
		}
		.jsound__shade{
			background-color: #0D0C0C
		}
		.jsound__title{
			padding: 2px 20px 10px;
			width:80%;
			overflow:hidden;
			height:38px;
			background-color: #0D0C0C;
			a{
				font-size:14px !important;
				font-family: $font;
			}
		}
		.jsound__artist{
			padding:10px 20px 0;
			background-color: #0D0C0C;
		}
		.jsound--mini{
			background-color: #0D0C0C;
			@include border-radius(7px);
		}
		.jsound__buttons{
			background-image: url(./img/play-button-nu.png);
			background-repeat: no-repeat;
			background-size: 65px !important;
			background-position: center;
			top:0px;
			margin-top:0px;
			background-color: #0D0C0C;
			.jsound__play{
				border:none;
				height:76px;
				width:76px;
				&:before, &:after{
					top:28px;
					left:31px;
				}
			}
			.jsound--pause{
				&:after{
					top:28px;
					left:31px;
				}
				&:before{
					top:28px;
					left:41px;
				}
			}
		}
		.jsound__artist{
			a{
				background-image: none;
				padding-left: 0px;
			}
		}
		footer{
			height:auto;
			background-color: #0d0c0c;
			background-size: cover;
			background-position: center;
			width: calc(100% );
			position: relative;
			bottom: 0px;
			padding-top:80px;
			padding-bottom:50px;
			left: 60px;
			z-index:3000;
			@include transition(0.5s);
			@media(max-width:700px){
				left:0px;
				padding:40px 0px;
				padding-bottom:10px;
			}
			&.right{
				left:140px;
				@include transition(0.5s);
				@media(max-width:700px){
					left:80px;
				}
			}
			&.large{
				left:0px;
				@include transition(0.5s);
			}
			div.container{
				padding:20px 0px;
				div.line{
					height:100%;
					width:calc(100%);
					@include display-flex();
					@include justify-content(center);
					a{
						width:calc(100% / 4);
						color:#fff;
						font-family: $font;
						font-size:18px;
						text-align: center;
						padding-top:6px;
						@include transition(0.5s);
						@media(max-width:700px){
							display:none;
						}
						&.home{
							font-family: $font;
							font-size:24px;
							padding-top:0px;
							letter-spacing: 15px;
							width:400px;
							display:inline-block;
							padding-left:25px;
							@media(max-width:700px){
								display:block;
								width:100%;
							}
						}
					}
				}
				div.line-social{
					height:100%;
					width:calc(100%);
					@include display-flex();
					@include justify-content(center);
					margin-top:70px;
					@media(max-width:700px){
						margin-top:30px;
					}
					a{
						width:90px;
						height:50px;
						display: inline-block;
						color:#fff;
						font-family: $fontserif;
						font-size:15px;
						text-align: center;
						background-repeat: no-repeat;
						background-position: center;
						padding-top:6px;
						@include transition(0.5s);
						text-indent: -9999px;
						border-bottom: 1px solid transparent;
						&:hover{
							border-bottom: 1px solid #fff;
						}
						&:nth-child(2){
							border-left: 1px solid $grey;
							border-right: 1px solid $grey;
						}
						&.fb{
							background-image: url(./img/facebook-white.png);
							background-size: 11px;
							border-top: 1px solid transparent;
							border-left: 1px solid transparent;
							&:hover{
								border-top: 1px solid #fff;
								border-left: 1px solid #fff;
							}
						}
						&.instagram{
							background-image: url(./img/instagram-white.png);
							background-size: 22px;
							border-top: 1px solid transparent;
							&:hover{
								border-top: 1px solid #fff;
							}
						}
						&.soundcloud{
							background-image: url(./img/spotify-white.png);
							background-size: 24px;
							border-top: 1px solid transparent;
							border-right: 1px solid transparent;
							&:hover{
								border-top: 1px solid #fff;
								border-right: 1px solid #fff;
							}
						}
					}
				}
			}
		}
	}
}
